/*<meta />*/

h2
{
	line-height: 14pt;
	font-weight: bold;
	font-size: 16pt;
	font-family: Arial;
	background-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #6c286b;
	color: #6c286b;
	font-style: italic;
}

li.mc-h2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13pt;
	line-height: 14pt;
	color: #383838;
}

p
{
	margin-bottom: 6pt;
	margin-top: 9.5pt;
	font-size: 10pt;
	font-family: Arial;
	color: #5e5e5c;
}

li
{
	font-size: 10pt;
	color: #5e5e5c;
	font: Arial;
	font-family: sans-serif;
	margin-bottom: 12px;
	line-height: 12%;
}

td
{
	font-size: 9pt;
	font-family: Akkurat;
}

h1
{
	margin-left: 0pt;
	background-attachment: fixed;
	line-height: 150%;
	text-decoration: none;
	background-image: none;
	background-repeat: no-repeat;
	font-family: Arial;
	border-left-style: None;
	border-right-style: None;
	border-top-style: None;
	border-bottom-style: None;
	font-size: 20pt;
	background-color: #5e5e5c;
	padding-left: 11px;
	color: #f39108;
}

li.mc-h1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13pt;
	line-height: 150%;
	color: #383838;
	text-decoration: none;
}

h4
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style: italic;
	color: #383838;
}

li.mc-h4
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style: italic;
	color: #383838;
}

li
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 18pt;
}

h5
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #383838;
	margin-bottom: 10pt;
}

li.mc-h5
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #383838;
}

h3
{
	font-style: normal;
	font-weight: bolder;
	margin-bottom: 6pt;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-size: 12pt;
	background-image: none;
	font-family: Arial;
	color: #ffffff;
	background-color: #5e5e5c;
}

li.mc-h3
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bolder;
	color: #383838;
	font-size: 10pt;
}

ul
{
	list-style-type: square;
	font-size: 10pt;
	font-family: Akkurat;
}

.note
{
	font-family: Arial, Helvetica, sans-serif;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 6px;
	border: 1px 3px #f39100;
	color: #6c286b;
	background-color: #f4f3f0;
	border-bottom: solid 3px;
	border-color: #f39100;
	border-left-style: solid;
	border-left-width: 3px;
	border-right: solid 3px;
	border-style: solid;
	border-top: solid 3px #f39100;
	border-left: solid 3px #f39100;
	border-width: medium;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding: 10px;
	background-position: left;
	background-image: none;
}

li.mc-Cnote
{
	font-weight: normal;
	font-style: normal;
	color: #6c286b;
	font-size: 10pt;
	font-family: Arial;
}

.toc
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 11pt;
	white-space: normal;
}

li.mc-Ctoc
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 11pt;
	white-space: normal;
}

.code
{
	font-size: 9pt;
	line-height: 10pt;
	font: "Courier New";
	font-family: monospace;
}

li.mc-Ccode
{
	font-family: "Courier New", Courier, mono;
	font-size: 9pt;
	line-height: 10pt;
	color: #6c286b;
}

p.Bulleted
{
	list-style: square;
	margin-left: 0.15in;
	margin-top: 3pt;
	margin-bottom: 3pt;
	line-height: 11pt;
}

li.Bulleted
{
	list-style: square;
	margin-left: 0.15in;
	margin-top: 3pt;
	margin-bottom: 3pt;
	font-size: 10pt;
	font-family: Arial;
	color: #5e5e5c;
	line-height: 12pt;
}

p.NumberedList
{
	margin-left: 0.2pt;
	margin-top: 7pt;
	margin-bottom: 7pt;
	list-style: decimal;
	line-height: 11pt;
}

li.NumberedList
{
	margin-left: 0.2pt;
	margin-top: 7pt;
	margin-bottom: 7pt;
	list-style: decimal;
	line-height: 11pt;
}

p.TextHeader1
{
	font-weight: bold;
	font-style: normal;
	letter-spacing: -0.1pt;
	margin-top: 9.5pt;
	margin-bottom: 9.5pt;
	mc-next-tag: p;
	text-decoration: none;
	color: #6c286b;
	font-size: 18pt;
	background-image: none;
	background-color: #f4f4f0;
	border-bottom-style: Solid;
	border-bottom-width: 2px;
	border-bottom-color: #5e5e5c;
	font-family: Akkurat;
}

li.TextHeader1
{
	font-weight: bold;
	font-style: normal;
	margin-top: 9.5pt;
	margin-bottom: 9.5pt;
	border-bottom-style: Solid;
	border-bottom-color: #ffd86d;
	border-bottom-width: 1px;
	mc-next-tag: p;
	text-decoration: none;
	font-size: 14pt;
	font-family: Arial;
	color: #5e5e5c;
}

p.TextHeader2
{
	font-weight: bold;
	font-style: italic;
	mc-next-tag: p;
	color: #6c286b;
	font-size: 12pt;
	background-color: #f4f4f0;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #6c286b;
	font-family: Akkurat;
}

li.TextHeader2
{
	font-weight: bold;
	font-style: italic;
	font-size: 10.5pt;
	color: #383838;
	mc-next-tag: p;
}

p.TextHeader3
{
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	background-attachment: fixed;
	mc-next-tag: p;
	color: #6c286b;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #5e5e5c;
	background-image: none;
	background-color: #e6e6e6;
	font-family: Akkurat;
}

li.TextHeader3
{
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	color: #000000;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: Transparent;
	background-image: url(sample3.jpg);
	mc-next-tag: p;
}

p.pagetitle
{
	font-size: 10pt;
	font-weight: bold;
	font-style: italic;
	text-align: Right;
	background-attachment: fixed;
	color: #6c286b;
	font-family: Akkurat;
	background-repeat: no-repeat;
	background-image: none;
	background-color: #ffffff;
}

li.pagetitle
{
	font-size: 10pt;
	font-weight: bold;
	font-style: italic;
	text-align: Right;
	background-image: url(sample2.jpg);
	background-attachment: fixed;
	background-repeat: No-Repeat;
	color: #383838;
}

h6
{
	font-family: Verdana, sans-serif;
	color: #383838;
}

li.mc-H6
{
	font-family: Verdana, sans-serif;
	color: #383838;
}

span.expandtext
{
	font-size: 10pt;
	font-family: Arial;
	color: #f39108;
}

div.droptext
{
	font-size: 10pt;
	font-family: Arial;
	color: #f39108;
}

a.expandspot
{
	font-weight: bold;
	font-style: italic;
	font-size: 11pt;
	font-family: Arial;
	color: #f39108;
}

a.dropspot
{
	font-weight: bold;
	font-style: italic;
	font-size: 11pt;
	font-family: Arial;
	color: #f39108;
}

MadCap|conceptLink.conceptLink_1
{
	mc-label: 'Select Authentication Type';
	font-size: 8pt;
	font-family: Arial;
	color: #6c286b;
}

MadCap|conceptLink.conceptLink_2
{
	mc-label: 'Notes about Domain  (choose)';
	font-size: 8pt;
	font-family: Arial;
	color: #6c286b;
}

MadCap|conceptLink.conceptLink_3
{
	mc-label: 'See Also';
	font-size: 8pt;
	font-family: Arial;
}

MadCap|relatedTopics.relatedTopics_1
{
	font-size: 8pt;
	font-family: Verdana;
	mc-label: ' Creating HSM Partitions';
}

MadCap|relatedTopics.relatedTopics_2
{
	font-size: 8pt;
	font-family: Verdana;
	mc-label: ' Policy Creation';
}

MadCap|expandingHead.expandspot
{
	font-weight: bold;
	font-style: italic;
	font-size: 10pt;
	font-family: Arial;
	color: #f39108;
}

MadCap|dropDownHotspot.dropspot
{
	font-weight: bold;
	font-style: italic;
	font-size: 10pt;
	font-family: Arial;
	color: #a9bf44;
}

MadCap|expandingBody.expandtext
{
	font-size: 10pt;
	font-family: Akkurat;
	color: #f58023;
}

MadCap|dropDownHead
{
	font: Verdana;
	font-weight: normal;
	font-style: italic;
	font-size: 12pt;
	font-family: Arial;
	color: #f39108;
}

MadCap|expandingHead
{
	font-size: 11pt;
	font-family: Arial;
	color: #6c286b;
}

pre
{
	font-size: 9pt;
	color: #6c286b;
}

MadCap|breadcrumbsProxy
{
	font-style: normal;
	color: #f39108;
	font-weight: normal;
	padding-left: 10px;
	mc-breadcrumbs-count: 5;
	font-family: sans-serif;
	padding-top: 14px;
	background-color: #5e5e5c;
	max-height: 18px;
	padding: 14px;
	margin-bottom: 13px;
	height: 37px;
	padding-bottom: 38px;
}

MadCap|bodyProxy
{
	font-size: 10pt;
	font-family: Arial;
	color: #5e5e5c;
}

MadCap|xref
{
	font-size: 11pt;
	font-family: Arial;
	color: #f39108;
	mc-format: ' {quote}{paratext}{quote}';
}

MadCap|xref:hover
{
	font-style: normal;
	background-color: #e6e6e6;
	font-weight: normal;
}

MadCap|xref:focus
{
	font-weight: bold;
	font-style: normal;
}

MadCap|dropDown
{
	font-size: 10pt;
	font-family: Arial;
	color: #f58023;
}

MadCap|dropDownBody
{
	font-size: 10pt;
	font-family: Arial;
	color: #f58023;
}

MadCap|expanding
{
	font-size: 10pt;
	font-family: Arial;
	color: #f58023;
}

MadCap|section
{
	font-size: 12pt;
	font-family: Arial;
	color: #6c286b;
}

MadCap|conditionalText
{
	font-size: 11pt;
	font-family: Arial;
}

a.MCBreadcrumbsLink
{
	background-color: #5e5e5c;
	color: #f39108;
}

MadCap|toggler
{
	font-size: 11pt;
	font-family: Arial;
	color: #f58023;
}

MadCap|endnotesProxy
{
	font-size: 10pt;
	font-family: Arial;
	color: #6c286b;
}

MadCap|footnotesBlock
{
	font-size: 10pt;
	font-family: Arial;
	color: #6c286b;
}

thead
{
	color: #5e5e5c;
	font-size: 12pt;
	font-family: Akkurat;
}

tbody
{
	font-size: 10pt;
	color: #5e5e5c;
	font-family: Akkurat;
}

table
{
	font-size: 10pt;
	font-family: Arial;
	color: #5e5e5c;
}

tr
{
	font-size: 10pt;
	color: #5e5e5c;
	font-family: Akkurat;
}

th
{
	font-size: 12pt;
	color: #5e5e5c;
	font-family: Akkurat;
}

@media print
{
	p.TextHeader3
	{
		background-image: none;
		background-color: #e6e6e6;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #5e5e5c;
	}
}

MadCap|dropDownHotspot
{
	font-size: 11pt;
	font-family: Arial;
	color: #6c286b;
}

p.notepad_note
{
	font-family: Arial, Helvetica, sans-serif;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	border: 1px 3px #f39100;
	color: #6c286b;
	border-bottom: solid 3px;
	border-color: #f39100;
	border-left-style: solid;
	border-left-width: 3px;
	border-right: solid 3px;
	border-style: solid;
	border-top: solid 3px #f39100;
	border-left: solid 3px #f39100;
	border-width: medium;
	padding-top: 10px;
	padding: 10px;
	background-repeat: no-repeat;
	margin: 0;
	padding-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	padding-left: 70px;
	background-color: #f4f3f0;
	background-position: center left;
	background-image: url('Resources/Images/notepad_and_pencil_small.png');
}

p.caution_note
{
	font-family: Arial, Helvetica, sans-serif;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	border: 1px 3px #f39100;
	color: #6c286b;
	background-color: #f4f3f0;
	border-bottom: solid 3px;
	border-color: #f39100;
	border-left-style: solid;
	border-left-width: 3px;
	border-right: solid 3px;
	border-style: solid;
	border-top: solid 3px #f39100;
	border-left: solid 3px #f39100;
	border-width: medium;
	padding-right: 10px;
	padding-top: 10px;
	padding: 10px;
	background-repeat: no-repeat;
	margin: 0;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-bottom: 20px;
	padding-left: 70px;
	background-position: center left;
	background-image: url('Resources/Images/caution_note_sm.png');
}

img.img_icon
{
	left: 7px;
	padding: 7px;
	mc-thumbnail-max-height: 100px;
	background-image: url('notepad-icon.png');
	background-repeat: no-repeat;
	clear: left;
	float: left;
}

p.warning_note
{
	background-color: #f4f3f0;
	border-color: #f39100;
	border: solid 3px;
	margin: 10px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 10px;
	padding-bottom: 20px;
	padding-left: 70px;
	background-repeat: no-repeat;
	color: #6c286b;
	background-position: center left;
	background-image: url('Resources/Images/warning_note_sm.png');
}

MadCap|concept
{
	font: Akkurat;
	color: #6c286b;
}

MadCap|conceptLink
{
	color: #6c286b;
}

MadCap|conceptLinkControlList
{
	color: #6c286b;
}

MadCap|conceptLinkControlListItem
{
	color: #6c286b;
}

MadCap|helpControlListItem
{
	color: #6c286b;
	font-family: Akkurat;
	font-size: 14pt;
	background-color: #fbc986;
	height: 3px;
	width: 3px;
}

MadCap|helpControlListItemLink:hover
{
	color: #6c286b;
}

MadCap|helpControlListItemLink:focus
{
	font-size: 13pt;
}

MadCap|helpControlList
{
	color: #6c286b;
}

MadCap|keywordLinkControlListItem
{
	color: #6c286b;
}

MadCap|keywordLinkControlList
{
	color: #6c286b;
}

MadCap|keywordLinkControlListItemLink
{
	color: #6c286b;
}

MadCap|keyword
{
	color: #6c286b;
}

MadCap|helpControlMenuItem.Highlighted
{
	color: #6c286b;
	background-color: #fffacd;
}

MadCap|conceptLinkControlListItemLink
{
	color: #6c286b;
	background-color: #fbc986;
}

html.concept
{
	color: #6c286b;
	background-color: #f39108;
	font: Arial;
}

MadCap|expandingBody
{
	color: #f58023;
}

@media non-print
{
	li
	{
		line-height: 12pt;
	}

	h2
	{
		font-style: normal;
	}

	h3
	{
		line-height: 17px;
		height: 19px;
		margin-top: 1.0em;
		padding-bottom: 6px;
		padding-top: 6px;
	}
}

a:link
{
	font-family: Arial;
	color: #f39108;
	font-size: 11pt;
}

a:hover
{
	background-color: #e6e6e6;
}

a.MCBreadcrumbsLink:link
{
	color: #f39108;
	margin-left: 10px;
	padding-top: 11px;
	height: 13px;
	line-height: 175%;
}

li
{
	line-height: 12pt;
}

h2
{
	font-style: normal;
}

h3
{
	line-height: 17px;
	height: 19px;
	margin-top: 1.0em;
	padding-bottom: 6px;
	padding-top: 6px;
}

