/*<meta />*/

/* Topic Popup */

.MCTopicPopup
{
	text-decoration: none;
}

.MCTopicPopupHotSpot
{
	cursor: pointer;
	background-position: left center;
	background-repeat: no-repeat;
}

.MCTopicPopup_Open.MCTopicPopupHotSpot
{
	
}

.MCTopicPopup_Closed.MCTopicPopupHotSpot
{
	
}

.MCTopicPopupContainer
{
	background-color: #FFFFFF;
	padding: 10px;
	position: fixed;
	top: 100px;
	left: 100px;
	right: 100px;
	bottom: 100px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
	filter: alpha( opacity = 0 );
	opacity: 0.0;
	z-index: 10001;
}

.MCTopicPopupBody
{
	width: 100%;
	border: none;
}

/**/
/* Thumbnail Popup */

.MCPopupThumbnailLink
{
	
}

.MCPopupThumbnail
{
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.MCPopupContainer
{
	background-color: #FFFFFF;
	border: solid 1px #000000;
	padding: 10px;
	position: absolute;
	cursor: pointer;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 10001;
}

.MCPopupContainer2
{
	background-color: #FFFFFF;
	border: solid 1px #000000;
	padding: 10px;
	position: absolute;
	cursor: pointer;
	-moz-box-shadow: 2px 2px 8px #FFFFFF;
	-webkit-box-shadow: 2px 2px 8px #FFFFFF;
	box-shadow: 2px 2px 8px #FFFFFF;
}

.MCPopupFullImage
{
	width: 0px;
	height: 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/**/
/* HelpControl */

.MCHelpControl span
{
	background: url("Images/help-control.png") no-repeat left center;
	padding-left: 18px;
}

a.MCHelpControl
{
	cursor: pointer;
}

/**/
/* Dialog */

.MCDialog
{
	display: none;
	width: 400px;
	position: fixed;
	top: 20px;
	left: 20px;
	padding: 6px;
	background-color: #000000;
	border: 1px solid #000000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	filter: alpha( opacity = 0 );
	opacity: 0.0;
	z-index: 10001;
}

.MCDialogHeader
{
	margin: 0 0 4px;
	padding: 5px 0 5px 5px;
	color: #FFFFFF;
	font-size: 15px;
	font-family: Helvetica;
}

.MCDialogClose
{
	color: #FFFFFF;
	font-family: tahoma, sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 12px;
	text-align: center;
	text-decoration: none;
	float: right;
	width: 20px;
	height: 18px;
	padding-top: 2px;
	margin-top: -2px;
	background-color: #999999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.MCDialogBody
{
	color: #555555;
	padding: 10px;
	background-color: #FFFFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/**/

#ios-wrapper
{
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

div.MCBreadcrumbsBox_0
{
	margin-bottom: 0;
	color: #6c286b;
	font-family: Arial;
	font-size: 8pt;
	border-bottom-style: none;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: black;
	padding-left: 0px;
	padding-top: 0px;
	font-weight: normal;
}

.xref
{
	text-decoration: none;
	color: #6c286b;
}

.xref.glossterm
{
	
}

.xref:hover
{
	color: #f39100;
}

.expanding
{
	
}

.expanding.glossterm
{
	
}

.expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

.expandingHead.glossterm
{
	
}

.MCExpandingHotSpot_
{
	background-position: right;
}

.MCExpanding_Open .MCExpandingHotSpot_
{
	background-image: url('ExpandingOpen.gif');
	padding-right: 17px;
	padding-left: 0px;
}

.MCExpanding_Closed .MCExpandingHotSpot_
{
	background-image: url('ExpandingClosed.gif');
	padding-right: 16px;
	padding-left: 0px;
}

.expandingBody
{
	color: #777777;
	font-style: italic;
}

.expandingBody.glossterm
{
	
}

.glossaryTerm
{
	font-weight: bold;
	color: darkgreen;
}

.glossaryTerm.glossterm
{
	
}

.MCTextPopupHotSpot_
{
	background-position: right;
}

.MCTextPopup_Open.MCTextPopupHotSpot_
{
	background-image: url('ExpandingOpen.gif');
	padding-right: 17px;
	padding-left: 0px;
}

.MCTextPopup_Closed.MCTextPopupHotSpot_
{
	background-image: url('ExpandingClosed.gif');
	padding-right: 16px;
	padding-left: 0px;
}

.popupBody
{
	
}

.glossaryTerm.glossterm.
{
	
}

.MCTextPopupHotSpot_.MCTextPopupHotSpot_glossterm\000020
{
	background-position: right;
}

.MCTextPopup_Open.MCTextPopupHotSpot_.MCTextPopupHotSpot_glossterm\000020
{
	background-image: url('ExpandingOpen.gif');
	padding-right: 17px;
	padding-left: 0px;
}

.MCTextPopup_Closed.MCTextPopupHotSpot_.MCTextPopupHotSpot_glossterm\000020
{
	background-image: url('ExpandingClosed.gif');
	padding-right: 16px;
	padding-left: 0px;
}

.toggler
{
	color: Navy;
}

.toggler.glossterm
{
	
}

.MCTogglerHotSpot_
{
	background-position: left;
}

.MCToggler_Open.MCTogglerHotSpot_
{
	background-image: url('DropDownOpen.gif');
	padding-left: 17px;
	padding-right: 0px;
}

.MCToggler_Closed.MCTogglerHotSpot_
{
	background-image: url('DropDownClosed.gif');
	padding-left: 16px;
	padding-right: 0px;
}

.MCHelpControl-ConceptHotSpot_
{
	background-position: left;
}

.MCHelpControl-Concept .MCHelpControl-ConceptHotSpot_
{
	background-image: url('ConceptLink.gif');
	padding-left: 21px;
	padding-right: 0px;
	background-position: left;
}

.link-list-popup
{
	
}

.link-list-popup ul li
{
	
}

.link-list-popup ul li:hover
{
	
}

.MCHelpControlList
{
	
}

.MCHelpControlListItem
{
	
}

.MCHelpControlListItem a
{
	
}

.MCHelpControlListItem a:link
{
	
}

.MCConceptLinkControlListItem a:link
{
	
}

.MCKeywordLinkControlListItem a:link
{
	
}

.MCRelatedTopicsControlListItem a:link
{
	
}

.MCHelpControlListItem a:visited
{
	
}

.MCConceptLinkControlListItem a:visited
{
	
}

.MCKeywordLinkControlListItem a:visited
{
	
}

.MCRelatedTopicsControlListItem a:visited
{
	
}

.MCHelpControlListItem a:focus
{
	
}

.MCConceptLinkControlListItem a:focus
{
	
}

.MCKeywordLinkControlListItem a:focus
{
	
}

.MCRelatedTopicsControlListItem a:focus
{
	
}

.MCHelpControlListItem a:hover
{
	
}

.MCConceptLinkControlListItem a:hover
{
	
}

.MCKeywordLinkControlListItem a:hover
{
	
}

.MCRelatedTopicsControlListItem a:hover
{
	
}

.MCConceptLinkControlList
{
	
}

.MCConceptLinkControlListItem
{
	
}

.MCConceptLinkControlListItem a
{
	
}

.MCKeywordLinkControlList
{
	
}

.MCKeywordLinkControlListItem
{
	
}

.MCKeywordLinkControlListItem a
{
	
}

.MCRelatedTopicsControlList
{
	
}

.MCRelatedTopicsControlListItem
{
	
}

.MCRelatedTopicsControlListItem a
{
	
}

.conceptLink
{
	color: blue;
}

.conceptLink.glossterm
{
	
}

.MCWebHelpFramesetLink a
{
	
}

.MCWebHelpFramesetLink.MCWebHelpFramesetLinkTop a
{
	
}

.MCWebHelpFramesetLink.MCWebHelpFramesetLinkBottom a
{
	
}

