/*<meta Version="9" />*/

/* MadCap Table Style: */

@media print
{
	mcTableStyle
	{
		margin-left: 0pt;
		margin-right: 0pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		separator-style: none;
		separator-width: 1px;
		separator-color: #000000;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media non-print
{
	mcTableStyle
	{
		margin-left: 0pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		margin-right: 0pt;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		separator-style: none;
		separator-width: 1px;
		separator-color: #000000;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Breadcrumbs;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	max-id: 3;
	margin-left: 0pt;
	cell-padding-left: 0pt;
	cell-padding-right: 0pt;
	cell-padding-top: 0pt;
	cell-padding-bottom: 0pt;
	margin-right: 0pt;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 171px;
	background-image: none;
	border-bottom-color: #000000;
	margin-top: 0pt;
	margin-bottom: 0pt;
	border-spacing-y: 0;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #e6e6e6;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}

/* Cell Styles: */

@media print
{
	.TableStyle-Breadcrumbs
	{
		margin-left: 0pt;
		margin-right: 0pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		border-spacing: 0px 0px;
	}

	.TableStyle-Breadcrumbs-HeadE-Column1-Header1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}

	.TableStyle-Breadcrumbs-HeadF-Column1-Header1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}

	.TableStyle-Breadcrumbs-HeadD-Column1-Header1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}
}

@media non-print
{
	.TableStyle-Breadcrumbs
	{
		margin-left: 0pt;
		margin-right: 0pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		border-spacing: 0px 0px;
	}

	.TableStyle-Breadcrumbs-HeadE-Column1-Header1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}

	.TableStyle-Breadcrumbs-HeadF-Column1-Header1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}

	.TableStyle-Breadcrumbs-HeadD-Column1-Header1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}
}

.TableStyle-Breadcrumbs
{
	border-collapse: collapse;
	background-image: none;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 171px;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-Breadcrumbs-Column-Column1
{
	
}

.TableStyle-Breadcrumbs-Head-Header1
{
	
}

.TableStyle-Breadcrumbs-HeadI-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	background-color: #e6e6e6;
}

.TableStyle-Breadcrumbs-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Breadcrumbs-HeadE-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-color: #e6e6e6;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Breadcrumbs-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Breadcrumbs-HeadF-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	background-color: #e6e6e6;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Breadcrumbs-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Breadcrumbs-HeadH-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-color: #e6e6e6;
}

.TableStyle-Breadcrumbs-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Breadcrumbs-HeadD-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	background-color: #e6e6e6;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Breadcrumbs-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Breadcrumbs-HeadC-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	background-color: #e6e6e6;
}

.TableStyle-Breadcrumbs-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Breadcrumbs-HeadB-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-color: #e6e6e6;
}

.TableStyle-Breadcrumbs-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Breadcrumbs-HeadA-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	background-color: #e6e6e6;
}

.TableStyle-Breadcrumbs-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Breadcrumbs-HeadG-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	background-color: #e6e6e6;
}

.TableStyle-Breadcrumbs-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Breadcrumbs-Foot-Footer1
{
	
}

.TableStyle-Breadcrumbs-FootI-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Breadcrumbs-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Breadcrumbs-FootE-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Breadcrumbs-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Breadcrumbs-FootF-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Breadcrumbs-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Breadcrumbs-FootH-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Breadcrumbs-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Breadcrumbs-FootD-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Breadcrumbs-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Breadcrumbs-FootC-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Breadcrumbs-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Breadcrumbs-FootB-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Breadcrumbs-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Breadcrumbs-FootA-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Breadcrumbs-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Breadcrumbs-FootG-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Breadcrumbs-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Breadcrumbs-Body-Body1
{
	
}

.TableStyle-Breadcrumbs-BodyI-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Breadcrumbs-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Breadcrumbs-BodyE-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-width: 0px;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Breadcrumbs-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Breadcrumbs-BodyF-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.TableStyle-Breadcrumbs-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Breadcrumbs-BodyH-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Breadcrumbs-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Breadcrumbs-BodyD-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.TableStyle-Breadcrumbs-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Breadcrumbs-BodyC-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Breadcrumbs-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Breadcrumbs-BodyB-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Breadcrumbs-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Breadcrumbs-BodyA-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Breadcrumbs-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Breadcrumbs-BodyG-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Breadcrumbs-BodyG-Column1-Body1 p
{
	
}

mcTableStyle
{
	margin-left: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-right: 0pt;
}

mcTableColumnStyle
{
	
}

mcTableHeadStyle
{
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableBodyStyle
{
	
}

mcTableFootStyle
{
	
}

.TableStyle-Breadcrumbs
{
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-Breadcrumbs-HeadE-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Breadcrumbs-HeadF-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Breadcrumbs-HeadD-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

